@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

.logo {
  font-family: 'Abril Fatface', cursive;
}

.fa-copy {
  cursor: pointer;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
}

.videos_container {
  position: relative;
  height: calc(100% - 70px);
  margin-top: 12px;
  border-radius: 10px;
  background: black;
}

.videos_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.local_video_container {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.2);
  top: 15px;
  left: 15px;
}

.local_video {
  width: 100%;
  height: 100%;
}

.call_buttons_container {
  position: absolute;
  width: 395px;
  height: 70px;
  bottom: 30px;
  left: calc(50% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.096);
  padding: 20px 20px;
  border-radius: 15px;
}

.video_recording_buttons_container {
  position: absolute;
  width: 120px;
  height: 50px;
  background: rgba(255, 255, 255, 0.137);
  border-radius: 10px;
  backdrop-filter: blur(60px);
  right: 20px;
  padding: 10px 10px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call_button_small {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.315);
  transition: 0.3s;
}
.call_button_small:hover {
  background-color: white;
}

.call_button_large {
  width: 50px;
  height: 50px;
  border-radius: 75px;
  background-color: rgba(255, 0, 0, 0.288);
  transition: 0.3s;
}

.call_button_large:hover {
  background-color: red;
}

.display_none {
  display: none;
}

.record_button {
  width: 30px;
  height: 30px;
  font-size: 11px;
  border-radius: 75px;
  background-color: rgba(255, 255, 255, 0.288);
  transition: 0.3s;
}

.record_button:hover {
  background-color: white;
}

.messages_container {
  flex-grow: 1;
  margin: 40px 30px;
  overflow-y: scroll;
}
